* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {}

.app-layout {
  display: flex;
  flex-direction: column;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
    background-color: lightblue;
  }

  main {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;

    .filters {
      border: 1px solid black;
      padding: 2rem;
      width: 25%;
      height: 20rem;
      display: flex;
      justify-content: center;
    }

    .jobs-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border: 1px solid black;
      max-width: 55rem;
      height: fit-content;
      padding: 2rem;
      gap: 2rem;

      .application-card {
        display: flex;
        flex-direction: column;
        width: 48%;
        min-width: 20rem;
        height: fit-content;
        border: 1px solid black;
        padding: 1rem;
        gap: 1rem;

        .application-header {
          display: flex;
          justify-content: space-between;
          height: fit-content;
          align-items: center;

          .company-name {
            font-size: 1.5rem;
          }
        }

        .position {}

        .dates {
          display: flex;
          justify-content: space-between;
        }

        .notes {}

        .actions {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}