$primaryColor: rgb(75, 108, 183);
$secondaryColor: rgb(24, 40, 72);
$tertiaryColor: rgb(47, 77, 136);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
}

.btn {
  background-color: $primaryColor;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $tertiaryColor;
  }
}

.app-layout {
  display: flex;
  flex-direction: column;
  width: 100%;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    height: 12rem;
    background: linear-gradient(135deg, $primaryColor 0%, $secondaryColor 100%);
    margin-bottom: 2rem;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 75rem;

      .logo {
        display: flex;
        align-items: end;
        font-size: 2.3rem;
        color: #fff;
        font-weight: bold;
        gap: 0.5rem;
      }

      .stats {
        display: flex;
        gap: 1.2rem;

        .stats-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          padding: 1.1rem;
          width: 7.6rem;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 0.5rem;

          .stat-number {
            color: white;
            font-size: 2rem;
            font-weight: bold;
          }

          .stat-label {
            color: white;
          }
        }
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;

    .main-container {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      max-width: 75rem;
      width: 75rem;

      .filters {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-width: 20rem;
        min-width: 14rem;
        width: 23%;
        height: fit-content;
        display: flex;
        background-color: white;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
        border-radius: 0.6rem;

        h2 {
          border-bottom: 2px solid $secondaryColor;
          padding-bottom: 0.7rem;
          margin-bottom: 1.5rem;
        }

        h3 {
          margin-bottom: 1rem;
        }

        .filters-container {
          display: flex;
          flex-direction: column;
          align-items: start;
          gap: 1rem;

          label {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 1rem;
            cursor: pointer;
          }
        }
      }

      .jobs-container {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 2rem;
        width: 50vw;
        min-width: 30rem;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.05);
        background-color: white;
        border-radius: 0.6rem;

        .jobs-top {
          display: flex;
          justify-content: space-between;
          margin-bottom: 2rem;
          font-size: 1.2rem;
          color: $secondaryColor;

          .plus {
            font-size: 1.5rem;
          }
        }

        .jobs-list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          height: fit-content;
          gap: 1rem;

          .application-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            min-width: 20rem;
            max-width: 49%;
            min-height: 15rem;
            height: fit-content;
            box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.05);
            padding: 1rem;
            gap: 1rem;
            border-left: 0.4rem solid $primaryColor;
            border-radius: 1rem;
            overflow: auto;

            .application-header {
              display: flex;
              justify-content: space-between;
              height: fit-content;
              align-items: start;

              .company-name {
                font-size: 1.5rem;
                font-weight: bold;
              }

              .status {
                padding: 0.4rem 0.8rem;
                border-radius: 1rem;
                font-weight: 600;
                min-width: 6rem;
                text-align: center;
              }

              .blue {
                background-color: rgba(215, 230, 252, 0.759);
                color: blue;
              }

              .green {
                background-color: rgba(216, 255, 216, 0.725);
                color: green;
              }

              .yellow {
                background-color: rgba(249, 249, 209, 0.695);
                color: rgb(136, 141, 4);
              }

              .red {
                background-color: rgba(247, 213, 213, 0.631);
                color: red;
              }
            }

            .position {
              font-size: 1.2rem;
            }

            .dates {
              display: flex;
              justify-content: space-between;
              color: gray;
            }

            .notes {
              color: gray;
            }

            .actions {
              display: flex;
              justify-content: space-between;
              color: gray;
            }
          }
        }
      }
    }
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.472);

  .form-window {
    background-color: white;
    padding: 2rem;
    width: 37rem;
    min-height: 40rem;
    height: fit-content;
    border-radius: 0.6rem;

    .form-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      color: $secondaryColor;

      .cursor {
        font-size: 1.2rem;
      }
    }

    form {
      .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        .form-group {
          display: flex;
          flex-direction: column;
          gap: 0.6rem;
          min-width: 48%;
          font-size: 1rem;
          font-weight: 600;
        }

        .full-width {
          width: 100%;
        }
      }

      .btn {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
      }
    }

    input[type="text"],
    textarea,
    select,
    input[type="date"] {
      border: 1px solid rgba(128, 128, 128, 0.229);
      border-radius: 0.6rem;
      padding: 1rem;
      font-size: 1rem;
    }

    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 7rem;
    }
  }
}

.align {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.cursor {
  cursor: pointer;
}

.delete:hover {
  color: red;
  font-weight: 600;
}
